@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:300,400');

html {
box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Londrina Solid", arial, sans-serif;
  font-weight: 400;
  	margin:0;
}

/* HEADS UP DISPLAY */
#hud {
  position: absolute;
  background-color: rgba(97, 89, 99, 0.85);
  top: -1000px;
  left:15%;
  /*right: 0;*/
  height: 50px;
  width:70%;
  padding: 0.5rem;
  text-align: left;
  color: #9d98c1;
}

/* Andrei: add flex */
.mother {
	display:flex;
}

.kid {
	flex:1;
}

/* .kid-large {
	flex:1.5;
} */

/* .right {
	text-align: right;
} */

.btn {
  font-family: "Londrina Solid", arial, sans-serif;
  font-size: 1rem;
  background-color: rgb(124, 76, 130);
  border-radius: 0.5em;
  border: 0.1em solid rgb(68, 34, 75);
  color: rgb(219, 219, 212);
  margin: 0 0.75em;
  cursor: pointer;
  min-width: 90px;
}
.btn img{
  margin-right: 0.3rem;
}
.btn:focus{
  outline: none;
}

.btn:hover {
  color: rgb(205, 186, 43);
  cursor: pointer;
  /* background-color: rgb(119, 57, 126); */
}

.btn:active {
  background-color: rgb(68, 34, 75);
  border: 0.1em solid rgb(149, 101, 159);
}


#form{
  position: absolute;
  background-color: rgba(97, 89, 99, 0.55);
  bottom: 0;
  right: 40%;
  padding: 1rem;
}
#form label{
  display: block;
  min-width: 300px;
  max-width: 400px;
  color:darkred;
  font-size: 1.5rem;
}
.wrapper{
  width: 100%;
  height:100vh;
  position: relative;
}
.input-group{
  display: flex;
}
.input-group input{
  margin-right: 1rem;
  flex-grow: 1;
}
#messageFromOpponent{
  color: #ff1f40;
  font-size:1.5rem;
}
#hud h2 {
  margin:0;
  text-align: right;
  padding-left: 0.5rem;
  font-size: 1em;
}

#hud img {
  height: 1rem;
  width: auto;
}

.inv {
  font-size: 0.8em;
  margin-left: 0.25em;
}

.costs {
  /* font-size: 1.5rem; */
  font-style: italic;
  display: flex;
}

.money span::before {
  content: "$: ";
  color: #db5419;
}
#money_rate::before{
  content: "+$: ";
  color: #db5419;
}

.sat span::before, .flag span::before {
  content: " : ";
}

.money, .kid span {
  font-size: 1.2rem;
  padding-top:5px;
}

.score {
  margin-left: 0.5em;
}

/* PLANET DETAILS */
#planet_specs {
  position: absolute;
  left: -10000px;
  display: inline-block;
  padding: 0.5em;
  font-size: 0.75rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
}

#planet_specs div {
  margin: 0 3em;
}

#planet_specs img {
  margin: 0.5em 1em 0;
}

#planet_specs h2 {
  font-size: 1.5em;
  margin: 0 auto;
}

#planet_specs h3 {
  display: inline-block;
  margin: 0 auto;
}

#sat_bonus::before {
  content: "   ";
}

#planet_rate::before {
  content: "   $";
}

/* INSTRUCTIONS */
#intro {
  text-align: center;
  background-color: rgba(113, 23, 103, 0.74);
  padding: 2em;
  color: rgb(219, 219, 212);
  width: 70%;
  background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  overflow: hidden;
  box-shadow: 1em 1em 0.5em rgba(47, 42, 48, 0.4);
  border: 2px solid rgba(219, 219, 212, 0.5);
}

#intro p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.25em;
}

h1 {
  font-size: 3rem;
}

#intro button {
  padding: 2rem;
  font-family: "Londrina Solid", arial, sans-serif;
  font-size: 2rem;
  background-color: rgb(124, 76, 130);
  border-radius: 2em;
  border: 0.25em solid rgb(68, 34, 75);
  margin: 2rem;
  color: rgb(219, 219, 212);
}

#intro button:hover {
  color: rgb(205, 186, 43);
  cursor: pointer;
  /* background-color: rgb(119, 57, 126); */
}

#intro button:active {
  background-color: rgb(68, 34, 75);
  border: 0.25em solid rgb(149, 101, 159);
}

.asteroid {
  display: inline-block;
}

.asteroid img {
  width: 3.5em;
  height: auto;
  transition: all 0s linear;
  animation: rotate 2000ms infinite linear;
}
footer{
  position: absolute;
  bottom: 0;
  right: 0;
}
footer a{
  text-decoration: none;
  color: rgba(183, 116, 74, 0.68);
  padding-right: 1rem;
}

canvas{
    background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    z-index: -20;
}

body{

}

img {
  width: 1rem;
}
/* Position of stars */
[class^="planets"] {
  position: absolute;
}

[class^="stars"] {
  position: absolute;
}

/*  */
#mssgBox {
  position: absolute;
  display: none;
  height: 10rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
}

#message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hud{
  display: flex;
  z-index:1111;
}
.hud__group{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.hud__heading{
  color: #d6d2cf;
}
.place-items__group .btn{
  height: 2rem;
  /*display: flex;*/
  align-items: center;
  margin: 0 0 0 1rem;
}
.place-items__group>span::before{
  content: '/$';
}
.resources__group .inv.kid{
  font-size: 1.2rem;
  padding-top: 5px;
}
@keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
}
