@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:300,400');

body {
  background-image: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
}

#intro {
  font-family: "Londrina Solid", arial, sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: rgba(113, 23, 103, 0.74);
  padding: 2em;
  color: rgb(219, 219, 212);
  /* width: 60%; */
      background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
      position: relative;
height: 100%;
}

#intro p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.25em;
}

h1 {
  font-size: 3rem;
}

#start {
  padding: 2rem;
  background-color: rgb(124, 76, 130);
  font-family: "Londrina Solid", arial, sans-serif;
  font-size: 2rem;
  border-radius: 2em;
  border: 0.25em solid rgb(68, 34, 75);
  margin: 2rem;
}

#start:hover {
  color: rgb(205, 186, 43);
}

#start:active {
  background-color: rgb(68, 34, 75);
  border: 0.25em solid rgb(149, 101, 159);
}

.asteroid {
  display: inline-block;
}

.asteroid img {
  width: 3.5em;
  height: auto;
  transition: all 0s linear;
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
}

canvas{
    background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    display: none;
=======
    z-index: -20;
>>>>>>> 6b8724f3c5d45bf278661bcb92fbefbd664ca936
}

body{
	margin:0;
}

img {
  width: 1em;
}

[class^="star"] {
  position: absolute;
}

#stars {
    z-index: -10;
}

/* Position of stars */

[class^="planet"] {
  position: absolute;
}
