@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:300,400');

#hud {
  position: absolute;
  background-color: rgba(97, 89, 99, 0.85);
  top: 0;
  right: 0;
  text-align: right;
  height: 20rem;
  width: 6rem;
}

.inv {
  font-size: 3rem;
  font-weight: bold;
}

.inv::before {
  content: ""
}

#intro {
  font-family: "Londrina Solid", arial, sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: rgba(113, 23, 103, 0.74);
  padding: 2em;
  color: rgb(219, 219, 212);
  width: 60%;
  background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  overflow: hidden;
  box-shadow: 1em 1em 0.5em rgba(47, 42, 48, 0.4);
  border: 2px solid rgba(219, 219, 212, 0.5);
}

#intro p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.25em;
}

h1 {
  font-size: 3rem;
}

#intro button {
  padding: 2rem;
  font-family: "Londrina Solid", arial, sans-serif;
  font-size: 2rem;
  background-color: rgb(124, 76, 130);
  border-radius: 2em;
  border: 0.25em solid rgb(68, 34, 75);
  margin: 2rem;
  color: rgb(219, 219, 212);
}

#intro button:hover {
  color: rgb(205, 186, 43);
  cursor: pointer;
  /* background-color: rgb(119, 57, 126); */
}

#intro button:active {
  background-color: rgb(68, 34, 75);
  border: 0.25em solid rgb(149, 101, 159);
}

.asteroid {
  display: inline-block;
}

.asteroid img {
  width: 3.5em;
  height: auto;
  transition: all 0s linear;
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
}

canvas{
    background: linear-gradient(45deg, #000000 ,#202D3F, #392C57, #36688B, #202D3F, #000000);
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    z-index: -20;
}

body{
	margin:0;
}

img {
  width: 1em;
}
/* Position of stars */
[class^="planets"] {
  position: absolute;
}

[class^="stars"] {
  position: absolute;
}
